@CHARSET "ISO-8859-1";

body{
    /* background: #3b3b3b; */
    background: url("bg.jpg") repeat scroll center top;
    font-family: tahoma;
	color: #000000;
	width: 90%;
	height: 101%; 
	position: relative;
}

.ajax_progress {
  position: fixed;
  display: none;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  background-image: url('ajax-loader.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  /* border: 1px solid green; */
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

#supercontainer{
	margin-left: auto;
	/* margin-right: auto; */
	width: 90%;
}

#header{
	opacity: 0.9;
	background: #ccf;
	padding: 10px 20px 20px;
	width: 90%;
	color: #000;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-style: ridge;
	border-bottom: 0px;
}

#header h1{
	font-style: italic;
	font-family: serif;	
}

p{
	color: #000;
}

#userlinks{
	text-align: right;
}

.menu { 
    width: 90%;
    text-align: center;
    margin:0;
    padding: 0px 20px 0px;
    display:table;
    background: #723c20;
    border-style: ridge;
}
.menu li {
	display: inline;
}

.menu li a {
	padding: 10px;
	float:left;
	border-right: 1px solid #723c20;
	border-bottom: none;
	text-decoration: none;
	color: #000;
	font-weight: bold;
}
.menu li.active a { 
	background: #eef; 
}

.menu li a:hover {
    color: #fff;
    background-color: #4caef2;
}
.menu li a:visited {
    color: #666;
}

.container {
/* 	float: left; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	clear: both;
	border-top: 0px;
	background: #eef;
	padding: 10px 20px 20px;
	width: 90%;
	height:90%;
	position: relative;
	border-style: ridge;
}
.tables{
	table-layout:fixed;
	width: 100%;
	cellSpacing: 2px;
}
.tables td {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px dashed #ccf;
}
.tables td:nth-child(1){
	width:25%;
}

.tables td:nth-child(2){
	width:50%;
}

.tables td:nth-child(3){
	width:25%;
	position: absolute;
}

#sa #sk #sp{
	width: 100px !important;
}

.buttonss {
	width: 160px;
}

.valerror{
	color: red;
	font-size: x-small;
}

.input_error{
	background-color: #fa2;
}

.sortable{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	position: relative;
	margin: auto;
	text-align: left;
	border-collapse: collapse;
	width: 90%;
}

.sortable thead {
    font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #723c20;
	border-top: 4px solid black;
	border-bottom: 1px solid #fff;
	color: white;
}

.sortable td {
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #723c20;
	color: #669;
	border-top: 1px solid transparent;
}

.sortable tr:hover td{
	background: #d0dafd;
	color: #339;
}

/* .container{
	position: relative;
	background: url("../graphics/mockup1_0009_base.png");
	width: 678px;
	height: 590px;
	top: 70px;
	left: 25px;
} */

/* #toparea{
	position: relative;
	background: url("../graphics/mockup1_0004_toparea.png");
	width: 617px;
	height: 157px;
	top: 20px;
	left: 25px;	
}

#toparea_text{
	text-align: center;
	color: #039;
	position: relative;
    top: 40%;
}

#contentarea{
	position: relative;
	background: url("../graphics/mockup1_0003_tablearea.png");
	width: 613px;
	height: 373px;
	top: 30px;
	left: 25px;
	display:table-cell;	
	vertical-align: middle;
	color: #039;
}
	#contentarea_text{
	text-align: center;
	color: #039;
	position: relative;
}

#menubuttons{
	position: relative;
	bottom: 555px;
	left: 25px;	
}

#navigation_stat{
	position: relative;
	left: 30px;
}

#diagramm{
	position: relative;
	left: 240px;	
}

#userlnks{
	position: relative;
	top: 30px;
	left: 25px;
}

#Login_menu{
	position: relative;
	bottom: 30px;
	left: 180px;
}

#Search{
	position: relative;
	bottom: 580px;
	left: 40px;
}

#Search2{
	position: relative;
	left: 15px;
}

.sort{
	position: relative;
	left: 15px;
}

#logout{
	position: relative;
	bottom: 600px;
	left: 600px;
	font-size: 12px;	
	color: #039;
}

#register{
	position: relative;
	bottom: 600px;
	left: 600px;
	font-size: 12px;
	color: #039;	
}

#result_table{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	position: relative;
	margin: auto;
	text-align: left;
	border-collapse: collapse;
	width: 90%;
}

#result_table th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}

#result_table td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}

#result_table tr:hover td
{
	background: #d0dafd;
	color: #339;
}

#est_picture{
	position: relative;
	top: 15px;
	left: 210px;
}

#apply{
	color: #000;
	position: relative;
	top: 15px;
	left: 50px;
}

#confirm{
	position: relative;
	top: 15px;
	left: 520px;
}

#new_user{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	position: relative;
	margin: auto;
	text-align: left;
	border-collapse: collapse;
	width: 90%;
}
 */